:root {
    --forms-font-proportions: 0.5rem;
}
.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F2F2F2;
    gap: 20px;
    margin: 20px;
    padding: 20px;   ;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    width: 20vw;
    animation: simple 1s ease-in-out ;
}

@keyframes simple {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.forms .formH2Div {
    text-align: left;
    font-size: calc(var(--forms-font-proportions) * 1.5);
}
.forms .formH2Div h2 {
    margin: 10px 0;
}

.forms .labelInputDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    font-size: calc(var(--forms-font-proportions) * 1.2);
}

.forms input, .forms select {
    padding: 0 15px;
    height: 35px;
    border-radius: 9px;
    border: 1px solid black;
    font-size: calc(var(--forms-font-proportions) * 1.6);
}

#cardsAmountSelect * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.forms .submitBtn {
    background-color: #F7241D;
    color: white;
    border: none;
    font-size: calc(var(--forms-font-proportions) * 2);
}

#forgotPassword {
    font-size: calc(var(--forms-font-proportions) * 1.1);
}
#createAccount {
    font-size: calc(var(--forms-font-proportions) * 2);
}

























/* התאמות מובייל */
@media (max-width: 480px) {
    .forms {
        width: 90vw; /* הרחבה כמעט מלאה למסכי מובייל */
        padding: 15px;
        gap: 15px;
    }

    .forms input, .forms select {
        font-size: calc(var(--forms-font-proportions) * 1.2); /* הקטנת גודל הפונט */
        height: 30px; /* התאמת גובה השדות */
    }

    .forms .submitBtn {
        font-size: calc(var(--forms-font-proportions) * 1.5); /* הקטנת גודל הפונט בכפתור */
        padding: 10px;
    }

    #forgotPassword, #createAccount {
        font-size: calc(var(--forms-font-proportions) * 1.5); /* התאמה עבור קישורים */
    }
}
