@font-face {
    font-family: 'IstokWeb';
    src: url('./dep/fonts/IstokWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jomhuria';
    src: url('./dep/fonts/Jomhuria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Comic Sans MS', 'IstokWeb', 'Guttman Yad-Brush', sans-serif;
}

.logo-font {
    font-family: 'Jomhuria', sans-serif;
    letter-spacing: 7px;
}
