:root {
    /* --footer-color:  rgb(115, 235, 115); */
    /* --gold-color: rgb(255, 215, 0); */
    --background-color: rgb(255, 246, 204);

    --card-border-radius: 12px;
    --card-width: calc(50px * 2.8);
    --card-height: calc(85px * 2.8);
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

/* div {
    border: 0.5px solid red;
    padding: 0.2px;
    margin: 0.2px;
} */

#mainContainerDiv {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    min-height: 99vh;
}



#headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    padding: 15px;
    left: 1%;
    top: 5%;
    background-color: var(--footer-color);
    z-index: 1;
    gap: 20px;
    
}

#pauseDiv, #timerDiv, #movesLeftDiv, #scoreDiv {
    margin: 5px;
}
#timerDiv, #movesLeftDiv, #scoreDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: row;
    position: relative;
    color: white;
    
    border: 2px solid #ff7373;
    border-radius: 30px;
    -webkit-text-stroke: 0.5px black;
    font-size: 1.2rem;
    padding: 10px;
    /* width: 140px; */
    /* height: 80px; */
    backdrop-filter: blur(15px);
}

.timer-icon-div, .score-icon-div, .moves-left-icon-div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 2px solid #73ffff;
    border-right: none;
    border-bottom: 2px solid #73ffff;
    border-left: 2px solid #73ffff;
    /* border: 1px solid black; */
    border-radius: 30%;
    width: 72px;
    height: 72px;
    /* margin: 10px; */
}

.moves-left-p, .score-p, .timer-p {
    border-top: 2px solid #73ffff;
    border-right: 2px solid #73ffff;
    border-bottom: 2px solid #73ffff;
    border-left: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* border: 1px solid black; */
    border-radius: 10px;
    /* width: 140px; */
    height: 20px;
}


.moves-left-icon-div {
    background-image: url("../dep/refresh.png");
}
.timer-icon-div {
    background-image: url("../dep/stopwatch.png");
}

.score-icon-div {
    background-image: url("../dep/archery.png");
}




#pauseDiv {
    background-image: url("../dep/pauseBtn.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
}

#pauseDiv:hover {
    background-image: url("../dep/pauseBtnHover.png");
    background-size: 120% 120%; 
}











#cardsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
}







.cardAreaFlip {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--card-border-radius);
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    width: var(--card-width);
    height: var(--card-height);
    }



.front,
.back {
  position: absolute;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden; /* מסתיר את הצד האחורי */
}

.front {
  /* background-color: lightblue; */
  font-size: 3rem;
  transform: rotateY(180deg); /* מסובב את הצד האחורי */
}

.back {
  font-size: 3rem;
  color: white;
}

.cardBackSecondLayer {
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.flip {
    transform: rotateY(180deg);
}

.card {
    cursor: pointer;
    border: 0px solid white;
    border-radius: var(--card-border-radius);
    backdrop-filter: blur(10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5), 
                0 6px 10px rgba(0, 0, 0, 0.3); /* שכבת צל נוספת */
    width: var(--card-width);
    height: var(--card-height);
    
}

.cardImg {
    width: 95%;
    height: 95%;
    object-fit: contain;
    border-radius: var(--card-border-radius);

}

.words-div {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
    padding: 3px;
    font-size: 1.5rem;
    color: green;
    border-radius: 20px;
    border: 2px solid black;
    background-color: wheat;
}















