:root {
    /* --footer-color:  rgb(115, 235, 115); */
    /* --gold-color: rgb(255, 215, 0); */
    --background-color: rgb(255, 246, 204);

    --card-border-radius: 12px;
    --card-width: calc(50px * 2.5);
    --card-height: calc(85px * 2.5);
}

body {
    margin: 0;
}

/* div {
    border: 0.5px solid red;
    padding: 0.2px;
    margin: 0.2px;
} */

#mainContainerDiv {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 99vh;
}

#headerDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


#pauseDiv {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 100%;
    color: white;
    margin: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
}

#timerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: green;
    width: 200px;
    height: 50px;
}









#cardsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}







.cardAreaFlip {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--card-border-radius);
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    width: var(--card-width);
    height: var(--card-height);
    }



.front,
.back {
  position: absolute;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden; /* מסתיר את הצד האחורי */
}

.front {
  background-color: lightblue;
  font-size: 3rem;
  transform: rotateY(180deg); /* מסובב את הצד האחורי */
}

.back {
  background-color: lightcoral;
  font-size: 3rem;
  color: white;
}

.flip {
    transform: rotateY(180deg);
}

.card {
    cursor: pointer;
    border: 0px solid white;
    border-radius: var(--card-border-radius);
    backdrop-filter: blur(10px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5), 
                0 6px 10px rgba(0, 0, 0, 0.3); /* שכבת צל נוספת */
    width: var(--card-width);
    height: var(--card-height);
}








.dark-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-window {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 40%;
    height: 80%;
    font-size: 2rem;
    border-radius: 20px;
    padding: 20px;
}

.nav-btns-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 20px;
}

.play-again-btn {
    background-color: green;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}

.back-to-menu-btn {
    background-color: red;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}



