:root {
    /* --footer-color:  rgb(115, 235, 115); */
    /* --gold-color: rgb(255, 215, 0); */
    

    /* --number-of-cards: 114;
    --number-of-columns: 19;
    --number-of-rows: 6;
    --card-height-and-width: 23; */

    /* --number-of-cards: 52;
    --number-of-columns: 13;
    --number-of-rows: 4;
    --card-height-and-width: 19; */

    /* --number-of-cards: 30;
    --number-of-columns: 10;
    --number-of-rows: 3;
    --card-height-and-width: 17; */

    /* --number-of-cards: 12;
    --number-of-columns: 6;
    --number-of-rows: 2;
    --card-height-and-width: 13; */

    /* --number-of-cards: 8;
    --number-of-columns: 4;
    --number-of-rows: 2;
    --card-height-and-width: 11; */


    --card-border-radius: 10px;
    --card-width: calc(10px * var(--card-height-and-width));
    --card-height: calc(17px * var(--card-height-and-width));
}

html {
    height: 100vh;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

/* div {
    border: 0.5px solid red;
    padding: 0.2px;
    margin: 0.2px;
} */

#mainContainerDiv {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 90vh;
    margin: 35px;
    gap: 10px;
}

#bodyDiv {
    height: 90vh;
    width: 100%;
}


@media (max-width: 480px) {
    :root {
        --card-width: calc(8px * var(--card-height-and-width));
        --card-height: calc(12px * var(--card-height-and-width));
    }

    #mainContainerDiv {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin: 10px;
    }

    #bodyDiv {
        height: auto;
        padding: 10px;
    }
}














#headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* position: fixed; */
    padding: 15px;
    /* left: 3%; */
    /* top: 5%; */
    background-color: var(--footer-color);
    /* z-index: 1; */
    gap: 20px;
    
}

#pauseDiv, #timerDiv, #movesLeftDiv, #scoreDiv {
    margin: 5px;
}
#pauseDiv {
    border-radius: 100%;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5), 
                0 6px 10px rgba(0, 0, 0, 1); /* שכבת צל נוספת */
}
#timerDiv, #movesLeftDiv, #scoreDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    position: relative;
    color: white;
    
    border: 2px solid #ff7373;
    border-radius: 30px;
    /* -webkit-text-stroke: 0.5px black; */
    font-size: 1.2rem;
    padding: 10px;
    width: 90%;
    /* height: 80px; */
    backdrop-filter: blur(15px);
    /* text-shadow: 0px 0px 10px black; */
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5), 
                0 6px 10px rgba(0, 0, 0, 1); /* שכבת צל נוספת */
}

.timer-icon-div, .score-icon-div, .moves-left-icon-div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border-top: 2px solid #73ffff; */
    border-right: none;
    /* border-bottom: 2px solid #73ffff; */
    /* border-left: 2px solid #73ffff; */
    /* border: 1px solid black; */
    border-radius: 30%;
    width: 72px;
    height: 72px;
    /* margin: 10px; */
}

.moves-left-p, .score-p, .timer-p {
    border-top: 2px solid #ff7373;
    border-right: 2px solid #ff7373;
    border-bottom: 2px solid #ff7373;
    border-left: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* border: 1px solid black; */
    border-radius: 10px;
    width: 80px;
    height: 20px;
}


.moves-left-icon-div {
    background-image: url("../dep/refresh.png");
}
.timer-icon-div {
    background-image: url("../dep/stopwatch.png");
}

.score-icon-div {
    background-image: url("../dep/archery.png");
}




#pauseDiv {
    background-image: url("../dep/pauseBtn.png");
    background-size: 120% 120%; 
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
}

#pauseDiv:hover {
    background-image: url("../dep/pauseBtnHover.png");
    background-size: 110% 110%; 
}



@media (max-width: 480px) {
    #headerDiv {
        padding: 10px;
        gap: 15px;
        flex-direction: row;
        align-items: stretch;
    }

    #pauseDiv {
        width: 35px;
        height: auto;
        margin: 5px;
    }
    #timerDiv, #movesLeftDiv, #scoreDiv, #pauseDiv {
        flex-direction: column;
        
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        
        border: 2px solid #ff7373;
    }
    /* #timerDiv, #movesLeftDiv, #scoreDiv {
        font-size: 1rem;
        padding: 8px;
        width: 10%;
        flex-direction: column;
    } */

    .timer-icon-div, .score-icon-div, .moves-left-icon-div {
        width: 60px;
        height: 60px;
    }

    .moves-left-p, .score-p, .timer-p {
        width: 70px;
        height: 18px;
    }
}
